.image-container{
    height: 100px;
}
img{
    width: 200px;
    border-radius: 10px;
}
.card{
    padding: 5px;
    border: 1px solid rgba(128, 128, 128, 0.432);
    margin: 10px;
    border-radius: 10px;
    transition: 0.3s;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 50px black;
}
.btn-add{
    background-color: burlywood;
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.btn-add:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
table{
    padding-left: 10px;
    padding-right: 10px;
}
td{
    line-height: 0;
    text-align: left;
}
.row-title{
    width: 40px;
}
.booking-charge{
    font-size: 30px;
    color: brown;
}